@use "sass:math";

@mixin enable(
    $hidden-top,
    $transition-duration: 350ms,
    $transition-timing-function: ease-out
) {
    transition: top $transition-duration $transition-timing-function;
    top: 0;
    position: fixed;

    @at-root html.navigation-open body {
        overflow: hidden;
        height: 100vh;
    }

    @at-root html.scroll-dir-bottom & {
        top: math.abs($hidden-top) * -1;
    }
}
